body {
    background-color: #f7f7f7;
  }
  .header {
    background-color: #ffc107;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    color: #333;
  }
  .header img {
    height: 50px;
  }
  .card-header {
    background-color: #ffc107;
    color: #333;
    font-weight: bold;
  }
  .login-container {
    max-width: 1200px;
    margin-top: 100px;
  }
  .btn-google {
    background-color: #db4437;
    color: white;
  }
  .btn-google:hover {
    background-color: #c3362a;
    color: white;
  }
  footer {
  margin-top: 2rem;
  text-align: center;
  color: #6c757d;
  }